---
import { Search, ShoppingCart, User } from "lucide-react";
import "@/styles/global.css";
import NavLinksWrapper from "@/components/navigation/NavLinksWrapper";
---

<header
  class="w-full bg-background text-foreground p-4 shadow-md border-b border-gray-200"
>
  <div class="@container mx-auto flex items-center justify-between">
    <div class="logo">
      <a href="/">
        <picture>
          <img src="/logo.svg" alt="Celestia Logo" />
        </picture>
      </a>
    </div>
    <form action="" class="h-9 max-w-[480px] w-full">
      <div class="relative h-full w-full">
        <input
          type="text"
          placeholder="Buscar Producto..."
          class="outline-none focus:outline-primary h-full rounded-md p-2 pr-12 text-secondary w-full text-sm font-semibold"
        />
        <button type="submit" class="absolute top-2 right-2 text-secondary">
          <Search size={20} />
        </button>
      </div>
    </form>
    <NavLinksWrapper client:load />
  </div>
</header>
